<% include header %>
    <p class="info">
        <p><h2><%= doc.title %></h2></p>
        作者：<a href="/u/<%= doc.name %>"><%= doc.name %></a>
        日期：<%= doc.time %>
    </p>
    <p>
            <%- doc.content %>
    </p>
<% include footer %>