<% include header %>
<% docs.forEach(function(doc){ %>
    <p><h2><a href="/u/<%= doc.name %>/<%= doc.title %>/<%= doc.time %>"><%= doc.title %></a></h2></p>
    <p>
        作者：<a href=""/u/<%= doc.name %>"><%= doc.name %></a>
        日期：<%= doc.time %>
    </p>
    <p>
            <%- doc.content %>
    </p>
    <% }) %>
<% include footer %>